@tailwind base;

@tailwind components;

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    @apply text-gray-900;
}

h1, h2 h3, h4, h5 {
    font-family: 'Merriweather', serif; 
}
h1 { @apply text-5xl; }
h2 { @apply text-4xl; }
h3 { @apply text-3xl; }
h4 { @apply text-2xl; }
h5 { @apply text-xl; }
h6 { @apply text-lg; }


a { @apply text-gray-800; }
a:hover { @apply text-gray-600 border-b border-gray-600; }


.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    @apply border border-gray-400 p-1;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    @apply  w-full border border-gray-400;
}
textarea {
  @apply w-full border border-gray-400 py-2;
}

.grid {
    display: grid;
}
.inline-grid {
    display: inline-grid;
}
.grid-cols {
    grid-template-columns: 1fr 1fr;
}
.ql-editor {
    @apply text-lg text-gray-800;
}
@tailwind utilities;
